<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七台河市</key>
	<string>230900</string>
	<key>万宁市</key>
	<string>469006</string>
	<key>三亚市</key>
	<string>460200</string>
	<key>三明市</key>
	<string>350400</string>
	<key>三门峡市</key>
	<string>411200</string>
	<key>上海市</key>
	<string>310100</string>
	<key>上饶市</key>
	<string>361100</string>
	<key>东方市</key>
	<string>469007</string>
	<key>东莞市</key>
	<string>441900</string>
	<key>东营市</key>
	<string>370500</string>
	<key>中卫市</key>
	<string>640500</string>
	<key>中山市</key>
	<string>442000</string>
	<key>临汾市</key>
	<string>141000</string>
	<key>临沂市</key>
	<string>371300</string>
	<key>临沧市</key>
	<string>530900</string>
	<key>丹东市</key>
	<string>210600</string>
	<key>丽水市</key>
	<string>331100</string>
	<key>丽江市</key>
	<string>530700</string>
	<key>乌兰察布市</key>
	<string>150900</string>
	<key>乌海市</key>
	<string>150300</string>
	<key>乌鲁木齐市</key>
	<string>650100</string>
	<key>乐山市</key>
	<string>511100</string>
	<key>九江市</key>
	<string>360400</string>
	<key>云浮市</key>
	<string>445300</string>
	<key>五指山市</key>
	<string>469001</string>
	<key>亳州市</key>
	<string>341600</string>
	<key>伊春市</key>
	<string>230700</string>
	<key>佛山市</key>
	<string>440600</string>
	<key>佳木斯市</key>
	<string>230800</string>
	<key>保定市</key>
	<string>130600</string>
	<key>保山市</key>
	<string>530500</string>
	<key>信阳市</key>
	<string>411500</string>
	<key>六安市</key>
	<string>341500</string>
	<key>六盘水市</key>
	<string>520200</string>
	<key>兰州市</key>
	<string>620100</string>
	<key>内江市</key>
	<string>511000</string>
	<key>包头市</key>
	<string>150200</string>
	<key>北京市</key>
	<string>110100</string>
	<key>北海市</key>
	<string>450500</string>
	<key>十堰市</key>
	<string>420300</string>
	<key>南京市</key>
	<string>320100</string>
	<key>南充市</key>
	<string>511300</string>
	<key>南宁市</key>
	<string>450100</string>
	<key>南市</key>
	<string>360100</string>
	<key>南平市</key>
	<string>350700</string>
	<key>南昌市</key>
	<string>360100</string>
	<key>南通市</key>
	<string>320600</string>
	<key>南阳市</key>
	<string>411300</string>
	<key>厦门市</key>
	<string>350200</string>
	<key>双鸭山市</key>
	<string>230500</string>
	<key>台州市</key>
	<string>331000</string>
	<key>合肥市</key>
	<string>340100</string>
	<key>吉安市</key>
	<string>360800</string>
	<key>吉林市</key>
	<string>220200</string>
	<key>吕梁市</key>
	<string>141100</string>
	<key>吴忠市</key>
	<string>640300</string>
	<key>周口市</key>
	<string>411600</string>
	<key>呼伦贝尔市</key>
	<string>150700</string>
	<key>呼和浩特市</key>
	<string>150100</string>
	<key>咸宁市</key>
	<string>421200</string>
	<key>咸阳市</key>
	<string>610400</string>
	<key>哈尔滨市</key>
	<string>230100</string>
	<key>唐山市</key>
	<string>130200</string>
	<key>商丘市</key>
	<string>411400</string>
	<key>商洛市</key>
	<string>611000</string>
	<key>嘉兴市</key>
	<string>330400</string>
	<key>嘉峪关市</key>
	<string>620200</string>
	<key>四平市</key>
	<string>220300</string>
	<key>固原市</key>
	<string>640400</string>
	<key>大同市</key>
	<string>140200</string>
	<key>大庆市</key>
	<string>230600</string>
	<key>大连市</key>
	<string>210200</string>
	<key>天水市</key>
	<string>620500</string>
	<key>天津市</key>
	<string>120100</string>
	<key>天门市</key>
	<string>429006</string>
	<key>太原市</key>
	<string>140100</string>
	<key>威海市</key>
	<string>371000</string>
	<key>娄底市</key>
	<string>431300</string>
	<key>孝感市</key>
	<string>420900</string>
	<key>宁德市</key>
	<string>350900</string>
	<key>宁波市</key>
	<string>330200</string>
	<key>安庆市</key>
	<string>340800</string>
	<key>安康市</key>
	<string>610900</string>
	<key>安阳市</key>
	<string>410500</string>
	<key>安顺市</key>
	<string>520400</string>
	<key>定西市</key>
	<string>621100</string>
	<key>宜宾市</key>
	<string>511500</string>
	<key>宜昌市</key>
	<string>420500</string>
	<key>宜春市</key>
	<string>360900</string>
	<key>宝鸡市</key>
	<string>610300</string>
	<key>宣城市</key>
	<string>341800</string>
	<key>宿州市</key>
	<string>341300</string>
	<key>宿迁市</key>
	<string>321300</string>
	<key>岳阳市</key>
	<string>430600</string>
	<key>崇左市</key>
	<string>451400</string>
	<key>巴中市</key>
	<string>511900</string>
	<key>巴彦淖尔市</key>
	<string>150800</string>
	<key>常州市</key>
	<string>320400</string>
	<key>常德市</key>
	<string>430700</string>
	<key>平凉市</key>
	<string>620800</string>
	<key>平顶山市</key>
	<string>410400</string>
	<key>广元市</key>
	<string>510800</string>
	<key>广安市</key>
	<string>511600</string>
	<key>广州市</key>
	<string>440100</string>
	<key>庆阳市</key>
	<string>621000</string>
	<key>廊坊市</key>
	<string>131000</string>
	<key>延安市</key>
	<string>610600</string>
	<key>开封市</key>
	<string>410200</string>
	<key>张家口市</key>
	<string>130700</string>
	<key>张家界市</key>
	<string>430800</string>
	<key>张掖市</key>
	<string>620700</string>
	<key>徐州市</key>
	<string>320300</string>
	<key>德州市</key>
	<string>371400</string>
	<key>德阳市</key>
	<string>510600</string>
	<key>忻州市</key>
	<string>140900</string>
	<key>怀化市</key>
	<string>431200</string>
	<key>思茅市</key>
	<string>530800</string>
	<key>惠州市</key>
	<string>441300</string>
	<key>成都市</key>
	<string>510100</string>
	<key>扬州市</key>
	<string>321000</string>
	<key>承德市</key>
	<string>130800</string>
	<key>抚州市</key>
	<string>361000</string>
	<key>抚顺市</key>
	<string>210400</string>
	<key>拉萨市</key>
	<string>540100</string>
	<key>揭阳市</key>
	<string>445200</string>
	<key>攀枝花市</key>
	<string>510400</string>
	<key>文昌市</key>
	<string>469005</string>
	<key>新乡市</key>
	<string>410700</string>
	<key>新余市</key>
	<string>360500</string>
	<key>无锡市</key>
	<string>320200</string>
	<key>日照市</key>
	<string>371100</string>
	<key>昆明市</key>
	<string>530100</string>
	<key>昭通市</key>
	<string>530600</string>
	<key>晋中市</key>
	<string>140700</string>
	<key>晋城市</key>
	<string>140500</string>
	<key>景德镇市</key>
	<string>360200</string>
	<key>曲靖市</key>
	<string>530300</string>
	<key>朔州市</key>
	<string>140600</string>
	<key>朝阳市</key>
	<string>211300</string>
	<key>本溪市</key>
	<string>210500</string>
	<key>来宾市</key>
	<string>451300</string>
	<key>杭州市</key>
	<string>330100</string>
	<key>松原市</key>
	<string>220700</string>
	<key>枣庄市</key>
	<string>370400</string>
	<key>柳州市</key>
	<string>450200</string>
	<key>株洲市</key>
	<string>430200</string>
	<key>桂林市</key>
	<string>450300</string>
	<key>梅州市</key>
	<string>441400</string>
	<key>梧州市</key>
	<string>450400</string>
	<key>榆林市</key>
	<string>610800</string>
	<key>武威市</key>
	<string>620600</string>
	<key>武汉市</key>
	<string>420100</string>
	<key>永州市</key>
	<string>431100</string>
	<key>汉中市</key>
	<string>610700</string>
	<key>汕头市</key>
	<string>440500</string>
	<key>汕尾市</key>
	<string>441500</string>
	<key>江门市</key>
	<string>440700</string>
	<key>池州市</key>
	<string>341700</string>
	<key>沧州市</key>
	<string>130900</string>
	<key>河池市</key>
	<string>451200</string>
	<key>河源市</key>
	<string>441600</string>
	<key>泉州市</key>
	<string>350500</string>
	<key>泰安市</key>
	<string>370900</string>
	<key>泰州市</key>
	<string>321200</string>
	<key>泸州市</key>
	<string>510500</string>
	<key>洛阳市</key>
	<string>410300</string>
	<key>济南市</key>
	<string>370100</string>
	<key>济宁市</key>
	<string>370800</string>
	<key>海口市</key>
	<string>460100</string>
	<key>淄博市</key>
	<string>370300</string>
	<key>淮北市</key>
	<string>340600</string>
	<key>淮南市</key>
	<string>340400</string>
	<key>淮安市</key>
	<string>320800</string>
	<key>深圳市</key>
	<string>440300</string>
	<key>清远市</key>
	<string>441800</string>
	<key>温州市</key>
	<string>330300</string>
	<key>渭南市</key>
	<string>610500</string>
	<key>湖州市</key>
	<string>330500</string>
	<key>湘潭市</key>
	<string>430300</string>
	<key>湛江市</key>
	<string>440800</string>
	<key>滁州市</key>
	<string>341100</string>
	<key>滨州市</key>
	<string>371600</string>
	<key>漯河市</key>
	<string>411100</string>
	<key>漳州市</key>
	<string>350600</string>
	<key>潍坊市</key>
	<string>370700</string>
	<key>潜江市</key>
	<string>429005</string>
	<key>潮州市</key>
	<string>445100</string>
	<key>濮阳市</key>
	<string>410900</string>
	<key>烟台市</key>
	<string>370600</string>
	<key>焦作市</key>
	<string>410800</string>
	<key>牡丹江市</key>
	<string>231000</string>
	<key>玉林市</key>
	<string>450900</string>
	<key>玉溪市</key>
	<string>530400</string>
	<key>珠海市</key>
	<string>440400</string>
	<key>琼海市</key>
	<string>469002</string>
	<key>白城市</key>
	<string>220800</string>
	<key>白山市</key>
	<string>220600</string>
	<key>白银市</key>
	<string>620400</string>
	<key>百色市</key>
	<string>451000</string>
	<key>益阳市</key>
	<string>430900</string>
	<key>盐城市</key>
	<string>320900</string>
	<key>盘锦市</key>
	<string>211100</string>
	<key>眉山市</key>
	<string>511400</string>
	<key>石嘴山市</key>
	<string>640200</string>
	<key>石家庄市</key>
	<string>130100</string>
	<key>石河子市</key>
	<string>659001</string>
	<key>福州市</key>
	<string>350100</string>
	<key>秦皇岛市</key>
	<string>130300</string>
	<key>绍兴市</key>
	<string>330600</string>
	<key>绥化市</key>
	<string>231200</string>
	<key>绵阳市</key>
	<string>510700</string>
	<key>聊城市</key>
	<string>371500</string>
	<key>肇庆市</key>
	<string>441200</string>
	<key>自贡市</key>
	<string>510300</string>
	<key>舟山市</key>
	<string>330900</string>
	<key>芜湖市</key>
	<string>340200</string>
	<key>苏州市</key>
	<string>320500</string>
	<key>茂名市</key>
	<string>440900</string>
	<key>荆州市</key>
	<string>421000</string>
	<key>荆门市</key>
	<string>420800</string>
	<key>荷泽市</key>
	<string>371700</string>
	<key>莆田市</key>
	<string>350300</string>
	<key>莱芜市</key>
	<string>371200</string>
	<key>萍乡市</key>
	<string>360300</string>
	<key>营口市</key>
	<string>210800</string>
	<key>葫芦岛市</key>
	<string>211400</string>
	<key>蚌埠市</key>
	<string>340300</string>
	<key>衡水市</key>
	<string>131100</string>
	<key>衡阳市</key>
	<string>430400</string>
	<key>衢州市</key>
	<string>330800</string>
	<key>襄樊市</key>
	<string>420600</string>
	<key>西宁市</key>
	<string>630100</string>
	<key>西安市</key>
	<string>610100</string>
	<key>许昌市</key>
	<string>411000</string>
	<key>贵港市</key>
	<string>450800</string>
	<key>贵阳市</key>
	<string>520100</string>
	<key>贺州市</key>
	<string>451100</string>
	<key>资阳市</key>
	<string>512000</string>
	<key>赣州市</key>
	<string>360700</string>
	<key>赤峰市</key>
	<string>150400</string>
	<key>辽源市</key>
	<string>220400</string>
	<key>辽阳市</key>
	<string>211000</string>
	<key>达州市</key>
	<string>511700</string>
	<key>运城市</key>
	<string>140800</string>
	<key>连云港市</key>
	<string>320700</string>
	<key>通化市</key>
	<string>220500</string>
	<key>通辽市</key>
	<string>150500</string>
	<key>遂宁市</key>
	<string>510900</string>
	<key>遵义市</key>
	<string>520300</string>
	<key>邢台市</key>
	<string>130500</string>
	<key>邯郸市</key>
	<string>130400</string>
	<key>邵阳市</key>
	<string>430500</string>
	<key>郑州市</key>
	<string>410100</string>
	<key>郴州市</key>
	<string>431000</string>
	<key>鄂尔多斯市</key>
	<string>150600</string>
	<key>鄂州市</key>
	<string>420700</string>
	<key>酒泉市</key>
	<string>620900</string>
	<key>重庆市</key>
	<string>500100</string>
	<key>金华市</key>
	<string>330700</string>
	<key>金昌市</key>
	<string>620300</string>
	<key>钦州市</key>
	<string>450700</string>
	<key>铁岭市</key>
	<string>211200</string>
	<key>铜川市</key>
	<string>610200</string>
	<key>铜陵市</key>
	<string>340700</string>
	<key>银川市</key>
	<string>640100</string>
	<key>锦州市</key>
	<string>210700</string>
	<key>镇江市</key>
	<string>321100</string>
	<key>长春市</key>
	<string>220100</string>
	<key>长沙市</key>
	<string>430100</string>
	<key>长治市</key>
	<string>140400</string>
	<key>阜新市</key>
	<string>210900</string>
	<key>阜阳市</key>
	<string>341200</string>
	<key>防城港市</key>
	<string>450600</string>
	<key>阳江市</key>
	<string>441700</string>
	<key>阳泉市</key>
	<string>140300</string>
	<key>陇南市</key>
	<string>621200</string>
	<key>随州市</key>
	<string>421300</string>
	<key>雅安市</key>
	<string>511800</string>
	<key>青岛市</key>
	<string>370200</string>
	<key>鞍山市</key>
	<string>210300</string>
	<key>韶关市</key>
	<string>440200</string>
	<key>马鞍山市</key>
	<string>340500</string>
	<key>驻马店市</key>
	<string>411700</string>
	<key>鸡西市</key>
	<string>230300</string>
	<key>鹤壁市</key>
	<string>410600</string>
	<key>鹤岗市</key>
	<string>230400</string>
	<key>鹰潭市</key>
	<string>360600</string>
	<key>黄冈市</key>
	<string>421100</string>
	<key>黄山市</key>
	<string>341000</string>
	<key>黄石市</key>
	<string>420200</string>
	<key>黑河市</key>
	<string>231100</string>
	<key>齐齐哈尔市</key>
	<string>230200</string>
	<key>龙岩市</key>
	<string>350800</string>
</dict>
</plist>
